/*Header*/
.header {
  background: #cbb9b7;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  top: 0px;
  z-index: 3; }
  .header div nav li {
    list-style: none;
    display: inline-block;
    margin: 15px 5px 2px; }

.header__dataContact {
  background: #3f4b44;
  color: white;
  display: flex;
  justify-content: space-evenly; }
  .header__dataContact p {
    margin-top: 10px; }

.header__nav {
  display: flex;
  justify-content: space-between; }
  .header__nav li {
    list-style: none;
    display: inline-block;
    margin: 5px; }
  .header__nav ul {
    margin-top: auto; }

/*footer*/
.footer {
  background: #cbb9b7; }

.footer__info {
  margin: 80px 0px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80%; }
  .footer__info div a {
    font-size: 1.5vw; }
  .footer__info div h4 {
    margin: 5px;
    font-size: 1.5vw; }

.footer__data {
  background-image: linear-gradient(to bottom, #cbb9b7, #3f4b44, #3f4b44, #3f4b44, #3f4b44);
  color: white;
  clear: left;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer__data h2 {
    margin-top: 30px;
    color: #cbb9b7;
    font-size: 1.2vw; }
  .footer__data div a {
    margin: 10px 15px 20px; }

/* Contiene:
    +titulos
    +Menu con submenu
    +tarjetas
    +grid perfil
    +cart
    +acordion
    +carrousel
    +main grid
*/
/*Titulos*/
.titlePp {
  margin-top: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: bold; }

/*menu con submenu*/
.menu {
  width: 100%; }
  .menu .menu__nav__menupp--submenu {
    margin: 0%;
    padding: 0%;
    width: 100%;
    z-index: 1; }

.menu__nav {
  width: 100%;
  margin: 30px auto;
  background: #3f4b44; }
  .menu__nav ul {
    list-style: none; }

.menu__nav__menupp > li {
  position: relative;
  display: inline-block; }
  .menu__nav__menupp > li > a {
    display: block;
    padding: 15px 20px;
    color: #f7f7f9;
    text-decoration: none; }

.menu__nav__menupp li a:hover {
  color: #ce7d35;
  transition: all 0.1s;
  z-index: 2px; }

.menu__nav__menupp--submenu {
  position: absolute;
  background: #3f4b44;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.7s; }
  .menu__nav__menupp--submenu li a {
    display: block;
    padding: 15px;
    color: #f7f7f9;
    text-decoration: none; }

.menu__nav__menupp li:hover .menu__nav__menupp--submenu {
  visibility: visible;
  opacity: 1; }

/*tarjetas*/
.tarjeta__titulo {
  background: #3f4b44;
  border: 3px solid #cbb9b7;
  color: #cbb9b7;
  font-size: 30px;
  margin-bottom: 20px; }

.ident1 {
  background-color: #993908;
  color: white;
  padding: 4px !important;
  border-radius: 6px !important; }

.ident2 {
  background-color: #ff7210;
  color: white;
  padding: 4px !important;
  border-radius: 6px !important; }

.ident3 {
  background-color: #ffab18;
  color: white;
  padding: 4px !important;
  border-radius: 6px !important; }

.imagen--size {
  width: 100% !important;
  width: 500px;
  height: 100% !important;
  object-fit: cover !important;
  height: 100% !important; }

.tarjeta--size {
  width: auto !important;
  height: 400px !important; }

/*grid perfil*/
.profilePP {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.3fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". profile__foto ." ". profile__infoArea ." ". profile__infoArea2 ."; }
  .profilePP .profile__foto {
    grid-area: profile__foto;
    background-color: #cbb9b7;
    width: 586px;
    border: #3f4b44 3px solid;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    justify-self: center; }
    .profilePP .profile__foto .profile__foto__text {
      margin-top: 10px; }
  .profilePP .profile__infoArea {
    grid-area: profile__infoArea;
    background-color: #cbb9b7;
    width: 586px;
    justify-self: center;
    border: #3f4b44 3px solid; }
  .profilePP .profile__infoArea2 {
    grid-area: profile__infoArea2;
    background-color: #cbb9b7;
    width: 586px;
    justify-self: center;
    border: #3f4b44 3px solid;
    border-end-end-radius: 6px;
    border-end-start-radius: 6px; }

.profile__foto--border {
  margin-top: 10px;
  border-radius: 180px; }

.profile__infoArea--text {
  color: #f7f7f9; }

/*cart*/
.cart {
  display: grid;
  grid-template-columns: 1fr 0.9fr 1.1fr;
  grid-template-rows: 0.7fr 0.7fr 0.7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "cart__item1 cart__item1 cart__checkout" "cart__item2 cart__item2 cart__checkout" "cart__item3 cart__item3 cart__checkout"; }

.cart__item1 {
  border-top: #3f4b44 3px solid;
  border-left: #3f4b44 3px solid;
  grid-area: cart__item1;
  height: 200px;
  width: 80%;
  justify-self: end;
  background-color: #cbb9b7; }
  .cart__item1 .cart__item__title {
    margin-top: 20px; }
  .cart__item1 .cart__item--dec {
    width: 80%; }
  .cart__item1 .cart__item--box {
    width: 40px; }

.cart__item2 {
  border-left: #3f4b44 3px solid;
  height: 200px;
  width: 80%;
  justify-self: end;
  background-color: #cbb9b7;
  grid-area: cart__item2; }
  .cart__item2 .cart__item__title {
    margin-top: 20px; }
  .cart__item2 .cart__item--dec {
    width: 80%; }
  .cart__item2 .cart__item--box {
    width: 40px; }

.cart__item3 {
  border-left: #3f4b44 3px solid;
  border-bottom: #3f4b44 3px solid;
  height: 200px;
  width: 80%;
  justify-self: end;
  background-color: #cbb9b7;
  grid-area: cart__item3; }
  .cart__item3 .cart__item__title {
    margin-top: 20px; }
  .cart__item3 .cart__item--dec {
    width: 80%; }
  .cart__item3 .cart__item--box {
    width: 40px; }

.cart__checkout {
  border: #3f4b44 3px solid;
  grid-area: cart__checkout;
  height: 600px;
  width: 300px;
  background-color: #3f4b44; }
  .cart__checkout .cart__item__check {
    margin-top: 20px;
    color: #f7f7f9;
    text-transform: uppercase;
    font-weight: bold; }
  .cart__checkout .cart__item__check--radio {
    margin: 20px;
    color: #f7f7f9;
    font-weight: bold; }
  .cart__checkout .cart__check--dec {
    width: 60%;
    color: #f7f7f9; }

.cart__item--total {
  display: block;
  margin: 30px; }

.cart__total__btn {
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
  color: #3f4b44;
  background-color: #f7f7f9; }

/*carrousel*/
h5 {
  font-size: 30px; }

.w-99 {
  width: 68% !important;
  margin-bottom: 20px; }

.carousel-control-next-icon {
  transform: rotate(270deg);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important; }

.carousel-control-prev-icon {
  transform: rotate(90deg);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important; }

/*acordion*/
.accordion-button:focus {
  border-color: #3f4b44 !important;
  box-shadow: 0 0 0 0.25rem !important; }

.accordion-button:not(.collapsed) {
  color: #3f4b44; }

.bg-secondary {
  background-color: #3f4b44 !important; }

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important; }

/*Seccion con grids*/
.centrado {
  justify-content: center;
  align-items: center; }

.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 1fr 1fr 0.3fr;
  gap: 0px 0px;
  grid-template-areas: "Categorias Categorias Categorias" "a1 a2 a3" "a4 a5 a6" "a7 a8 a9" "mas mas mas";
  width: 70%; }

.sizeImg {
  height: 320px;
  border: 3px solid #cbb9b7; }

.categorias {
  grid-area: Categorias;
  background: #3f4b44;
  width: 100%;
  border: 3px solid #cbb9b7; }

.a9 a,
.a5 a,
.a1 a {
  color: #cbb9b7;
  font-size: 60px;
  justify-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px; }

.categorias p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #f7f7f9;
  margin: 0px;
  height: 100%; }

.mas a {
  font-size: 30px;
  color: #f7f7f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.a1 {
  grid-area: a1;
  background-image: linear-gradient(320deg, #cbb9b7, #3f4b44, #3f4b44, #3f4b44);
  color: #f1e7eb; }

.contenedor img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: 100%; }

.contenedor a:hover {
  color: #ce7d35;
  transition: all 0.1s;
  transform: scale(1.2); }

.a5 {
  grid-area: a5;
  background-image: linear-gradient(320deg, #cbb9b7, #3f4b44, #3f4b44, #3f4b44);
  color: #f1e7eb; }

.a9 {
  grid-area: a9;
  background-image: linear-gradient(320deg, #cbb9b7, #3f4b44, #3f4b44, #3f4b44);
  color: #f1e7eb; }

.mas {
  grid-area: mas;
  background: #3f4b44;
  width: 100%;
  color: #f7f7f9;
  border: 3px solid #cbb9b7; }

.col:hover {
  transform: scale(1.05);
  transition: 1s; }

.imgChange1,
.imgChange2 {
  display: none; }

/*sobrenosotros*/
.tableAbout td {
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 3px;
  border-collapse: collapse;
  border: #cbb9b7 5px solid;
  padding: 10px;
  background-image: url(../imagenes/fondomaderaclara.jpg); }

.tableAbout table {
  border-collapse: collapse;
  border: #cbb9b7; }

.tableAbout th {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  background-color: #3f4b44;
  color: #f1e7eb;
  padding: 15px;
  border-collapse: collapse;
  border: #cbb9b7 5px solid; }

.tableAbout ul {
  list-style: square;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 3px; }

.tablePersonal th {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  background-color: #3f4b44;
  border: #cbb9b7 5px solid;
  color: #f1e7eb;
  padding: 15px; }

.tablePersonal table {
  border-collapse: collapse;
  border: #cbb9b7 5px solid;
  background-image: url(../imagenes/fondomaderaclara.jpg); }

.tablePersonal td {
  border-collapse: collapse;
  border: #cbb9b7 5px solid;
  padding: 10px;
  font-family: "Open Sans Condensed", sans-serif;
  padding: 10px; }

.list-product {
  margin-left: 0px; }

.infoEnvio {
  width: 75%;
  margin-top: 90px; }

/*cuerpo*/
.btn {
  border-color: transparent; }
  .btn-secondary {
    background-color: #3f4b44; }
  .btn-secondary:hover {
    background-color: #ce7d35;
    border-color: #ce7d35;
    color: #3f4b44; }
  .btn-transition {
    background-color: #ce7d35;
    border-color: #ce7d35;
    color: #3f4b44; }

a:hover {
  color: #ce7d35; }

* {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  background-color: #f7f7f9;
  padding: 0px;
  margin: 0px;
  width: auto; }

h1 {
  font-family: "Roboto", sans-serif;
  color: #3f4b44;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.1rem; }

h2 {
  font-family: "Roboto", sans-serif;
  color: #3f4b44;
  font-size: 2rem;
  letter-spacing: 1px; }

h3,
h4 {
  color: #3f4b44;
  text-decoration: underline; }

a {
  text-decoration: none;
  color: #3f4b44; }

.bordesRedondeados {
  border-radius: 20px; }

.contactTitle {
  padding-top: 1px;
  height: 20vh; }

.contactBox {
  font-size: 1em;
  height: 860px;
  background: url(./imagenes/tallado.jpg) no-repeat center/cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center; }

.contactTxt {
  background: white;
  width: 30vw;
  border-radius: 1em;
  border: 5px solid #3f4b44; }

.contactTxt h2,
.contactTxt h4 {
  width: 100%;
  text-decoration: underline;
  background: #3f4b44;
  color: #cbb9b7; }

.contactTxt p {
  background: #3f4b44;
  color: #cbb9b7; }

.contactForm li {
  list-style: none;
  display: inline; }

.contactForm input {
  font-size: 15px;
  margin: 5px; }

.contactForm p {
  font-size: 20px; }

/*Media query*/
/*Media query index*/
@media only screen and (max-width: 768px) {
  .a9 a,
  .a5 a,
  .a1 a {
    font-size: 40px; }
  .contactTxt {
    width: 512px; } }

@media only screen and (max-width: 425px) {
  .a9 a,
  .a5 a,
  .a1 a {
    font-size: 24px; }
  .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas: "Categorias Categorias" "a1 a2" "a4 a5" "a8 a9" "mas mas"; }
  .a3,
  .a6,
  .a7 {
    display: none; }
  .footer__data img {
    width: 16px; }
  .footer__info img {
    width: 80px; }
  .footer__info div a {
    font-size: 16px; }
  .footer__data h2,
  .footer__info h4,
  .footer__info p {
    font-size: 8px; } }

@media only screen and (max-width: 320px) {
  .a9 a,
  .a5 a,
  .a1 a {
    font-size: 16px !important; }
  .mas a,
  .Categorias p {
    font-size: 28px !important; }
  .menu {
    font-size: 10px !important; }
  /* media query contact*/
  .contactTxt {
    width: 290px; }
  .contactTitle h2 {
    font-size: 1rem; }
  .contactTitle h1 {
    font-size: 2rem; } }
