/* Contiene:
    +titulos
    +Menu con submenu
    +tarjetas
    +grid perfil
    +cart
    +acordion
    +carrousel
    +main grid
*/

/*Titulos*/

.titlePp {
  margin-top: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: bold;
}

/*menu con submenu*/

.menu {
  width: 100%;
  .menu__nav__menupp--submenu {
    margin: 0%;
    padding: 0%;
    width: 100%;
    z-index: 1;
  }
}

.menu__nav {
  width: 100%;
  margin: 30px auto;
  background: $primary;
  ul {
    list-style: none;
  }
}

.menu__nav__menupp > li {
  position: relative;
  display: inline-block;
  > a {
    display: block;
    padding: 15px 20px;
    color: $clr-fondo;
    text-decoration: none;
  }
}

.menu__nav__menupp li a:hover {
  color: #ce7d35;
  transition: all 0.1s;
  z-index: 2px;
}

.menu__nav__menupp--submenu {
  position: absolute;
  background: $primary;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.7s;
  li {
    a {
      display: block;
      padding: 15px;
      color: $clr-fondo;
      text-decoration: none;
    }
  }
}

.menu__nav__menupp li:hover .menu__nav__menupp--submenu {
  visibility: visible;
  opacity: 1;
}

/*tarjetas*/
.tarjeta__titulo {
  background: $primary;
  border: 3px solid $clr-clrtext;
  color: $clr-clrtext;
  font-size: 30px;
  margin-bottom: 20px;
}

@for $i from 1 through 3 {
  .ident#{$i} {
    background-color: (#993908) * $i;
    color: white;
    padding: 4px !important;
    border-radius: 6px !important;
  }
}

.imagen--size {
  width: 100% !important;
  width: 500px;
  height: 100% !important;
  object-fit: cover !important;
  height: 100% !important;
}

.tarjeta--size {
  width: auto !important;
  height: 400px !important;
}

/*grid perfil*/

.profilePP {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.3fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". profile__foto ."
    ". profile__infoArea ."
    ". profile__infoArea2 .";

  .profile__foto {
    grid-area: profile__foto;
    background-color: $clr-clrtext;
    width: 586px;
    border: $primary 3px solid;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    justify-self: center;
    .profile__foto__text {
      margin-top: 10px;
    }
  }
  .profile__infoArea {
    grid-area: profile__infoArea;
    background-color: $clr-clrtext;
    width: 586px;
    justify-self: center;
    border: $primary 3px solid;
  }
  .profile__infoArea2 {
    grid-area: profile__infoArea2;
    background-color: $clr-clrtext;
    width: 586px;
    justify-self: center;
    border: $primary 3px solid;
    border-end-end-radius: 6px;
    border-end-start-radius: 6px;
  }
}

.profile__foto--border {
  margin-top: 10px;
  border-radius: 180px;
}

.profile__infoArea--text {
  color: $clr-fondo;
}

/*cart*/

.cart {
  display: grid;
  grid-template-columns: 1fr 0.9fr 1.1fr;
  grid-template-rows: 0.7fr 0.7fr 0.7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "cart__item1 cart__item1 cart__checkout"
    "cart__item2 cart__item2 cart__checkout"
    "cart__item3 cart__item3 cart__checkout";
}

@mixin sizeCart($width, $height, $justify-self, $background-color) {
  height: $height;
  width: $width;
  justify-self: $justify-self;
  background-color: $background-color;
}

.cart__item1 {
  border-top: $primary 3px solid;
  border-left: $primary 3px solid;
  grid-area: cart__item1;
  @include sizeCart(80%, 200px, end, $clr-clrtext);
  .cart__item__title {
    margin-top: 20px;
  }
  .cart__item--dec {
    width: 80%;
  }
  .cart__item--box {
    width: 40px;
  }
}

.cart__item2 {
  border-left: $primary 3px solid;
  @include sizeCart(80%, 200px, end, $clr-clrtext);
  grid-area: cart__item2;
  .cart__item__title {
    margin-top: 20px;
  }
  .cart__item--dec {
    width: 80%;
  }
  .cart__item--box {
    width: 40px;
  }
}

.cart__item3 {
  border-left: $primary 3px solid;
  border-bottom: $primary 3px solid;
  @include sizeCart(80%, 200px, end, $clr-clrtext);
  grid-area: cart__item3;
  .cart__item__title {
    margin-top: 20px;
  }
  .cart__item--dec {
    width: 80%;
  }
  .cart__item--box {
    width: 40px;
  }
}

.cart__checkout {
  border: $primary 3px solid;
  grid-area: cart__checkout;
  height: 600px;
  width: 300px;
  background-color: $primary;
  .cart__item__check {
    margin-top: 20px;
    color: $clr-fondo;
    text-transform: uppercase;
    font-weight: bold;
  }
  .cart__item__check--radio {
    margin: 20px;
    color: $clr-fondo;
    font-weight: bold;
  }
  .cart__check--dec {
    width: 60%;
    color: $clr-fondo;
  }
}

.cart__item--total {
  display: block;
  margin: 30px;
}
.cart__total__btn {
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
  color: $primary;
  background-color: $clr-fondo;
}

/*carrousel*/
h5 {
  font-size: 30px;
}

.w-99 {
  width: 68% !important;
  margin-bottom: 20px;
}

.carousel-control-next-icon {
  transform: rotate(270deg);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.carousel-control-prev-icon {
  transform: rotate(90deg);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

/*acordion*/
.accordion-button:focus {
  border-color: $clr-oscuro !important;
  box-shadow: 0 0 0 0.25rem !important;
}

.accordion-button:not(.collapsed) {
  color: $clr-oscuro;
}

.bg-secondary {
  background-color: $clr-oscuro !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

/*Seccion con grids*/

.centrado {
  justify-content: center;
  align-items: center;
}
.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 1fr 1fr 0.3fr;
  gap: 0px 0px;
  grid-template-areas:
    "Categorias Categorias Categorias"
    "a1 a2 a3"
    "a4 a5 a6"
    "a7 a8 a9"
    "mas mas mas";
  width: 70%;
}

.sizeImg {
  height: 320px;
  border: 3px solid $clr-clrtext;
}

.categorias {
  grid-area: Categorias;
  background: $clr-oscuro;
  width: 100%;
  border: 3px solid $clr-clrtext;
}

.a9 a,
.a5 a,
.a1 a {
  color: $clr-clrtext;
  font-size: 60px;
  justify-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
}

.categorias p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: $clr-fondo;
  margin: 0px;
  height: 100%;
}

.mas a {
  font-size: 30px;
  color: $clr-fondo;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.a1 {
  grid-area: a1;
  background-image: linear-gradient(
    320deg,
    $clr-clrtext,
    $clr-oscuro,
    $clr-oscuro,
    $clr-oscuro
  );
  color: #f1e7eb;
}

.contenedor img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: 100%;
}

.contenedor a:hover {
  color: #ce7d35;
  transition: all 0.1s;
  transform: scale(1.2);
}

.a5 {
  grid-area: a5;
  background-image: linear-gradient(
    320deg,
    $clr-clrtext,
    $clr-oscuro,
    $clr-oscuro,
    $clr-oscuro
  );
  color: #f1e7eb;
}

.a9 {
  grid-area: a9;
  background-image: linear-gradient(
    320deg,
    $clr-clrtext,
    $clr-oscuro,
    $clr-oscuro,
    $clr-oscuro
  );
  color: #f1e7eb;
}
.mas {
  grid-area: mas;
  background: $clr-oscuro;
  width: 100%;
  color: $clr-fondo;
  border: 3px solid $clr-clrtext;
}

.col:hover {
  transform: scale(1.05);
  transition: 1s;
}

.imgChange1,
.imgChange2 {
  display: none;
}

/*sobrenosotros*/

.tableAbout {
  td {
    font-family: "Open Sans Condensed", sans-serif;
    letter-spacing: 3px;
    border-collapse: collapse;
    border: #cbb9b7 5px solid;
    padding: 10px;
    background-image: url(../imagenes/fondomaderaclara.jpg);
  }
  table {
    border-collapse: collapse;
    border: #cbb9b7;
  }
  th {
    font-family: "Bebas Neue", cursive;
    letter-spacing: 2px;
    background-color: #3f4b44;
    color: #f1e7eb;
    padding: 15px;
    border-collapse: collapse;
    border: #cbb9b7 5px solid;
  }
  ul {
    list-style: square;
    font-family: "Open Sans Condensed", sans-serif;
    letter-spacing: 3px;
  }
}

.tablePersonal {
  th {
    font-family: "Bebas Neue", cursive;
    letter-spacing: 2px;
    background-color: #3f4b44;
    border: #cbb9b7 5px solid;
    color: #f1e7eb;
    padding: 15px;
  }
  table {
    border-collapse: collapse;
    border: #cbb9b7 5px solid;
    background-image: url(../imagenes/fondomaderaclara.jpg);
  }
  td {
    border-collapse: collapse;
    border: #cbb9b7 5px solid;
    padding: 10px;
    font-family: "Open Sans Condensed", sans-serif;
    padding: 10px;
  }
}

.list-product {
  margin-left: 0px;
}

.infoEnvio {
  width: 75%;
  margin-top: 90px;
}
