/*Media query*/
/*Media query index*/
@media only screen and (max-width: 768px) {
  .a9 a,
  .a5 a,
  .a1 a {
    font-size: 50px;
  }

  .contactTxt {
    width: 512px;
  }

  /*contacto*/
  .contactBox {
    margin-top: 80px;
  }
}

/*425*/
@media only screen and (max-width: 425px) {
  .a9 a,
  .a5 a,
  .a1 a {
    font-size: 24px;
  }
  .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas:
      "Categorias Categorias"
      "a1 a2"
      "a4 a5"
      "a8 a9"
      "mas mas";
  }

  .a3,
  .a6,
  .a7 {
    display: none;
  }

  .footer__data img {
    width: 2rem;
  }
  .footer__info img {
    width: 7rem;
  }

  .footer__info div a {
    display: none;
    visibility: hidden;
  }

  .titlePp {
    font-size: 38px;
  }
  h2 {
    font-size: 23px;
  }
  .carousl__display {
    display: none;
    visibility: hidden;
  }
  .profilePP {
    .profile__foto {
      width: 360px;
      img {
        width: 300px;
      }
    }
    .profile__infoArea {
      width: 360px;
    }
    .profile__infoArea2 {
      width: 360px;
    }
  }

  /*cart*/
  .cart__checkout {
    width: 185px;
  }

  .cart__item--total {
    display: block;
    margin: 0px;
  }

  .header__nav {
    nav {
      ul {
        li {
          input {
            width: 88px;
          }
        }
      }
    }
  }
}

/*320*/

@media only screen and (max-width: 320px) {
  .a9 a,
  .a5 a,
  .a1 a {
    font-size: 16px !important;
  }
  .mas a,
  .Categorias p {
    font-size: 28px !important;
  }

  .menu {
    font-size: 10px !important;
  }

  /* media query contact*/
  .contactTxt {
    width: 290px;
  }

  .contactTitle h2 {
    font-size: 1rem;
  }
  .contactTitle h1 {
    font-size: 2rem;
  }
  .header__nav {
    nav {
      ul {
        li {
          img {
            display: none;
            visibility: hidden;
          }
          input {
            display: none;
            visibility: hidden;
          }
        }
      }
    }
  }

  .profilePP {
    .profile__foto {
      width: 250px;
      img {
        width: 200px;
      }
    }
    .profile__infoArea {
      width: 250px;
    }
    .profile__infoArea2 {
      width: 250px;
    }
  }
}
