/*cuerpo*/

.btn {
  border-color: transparent;
  &-secondary {
    background-color: $primary;
  }
  &-secondary:hover {
    background-color: $clr-hover;
    border-color: $clr-hover;
    color: $primary;
  }
  &-transition {
    background-color: $clr-hover;
    border-color: $clr-hover;
    color: $primary;
  }
}

a:hover {
  color: $clr-hover;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $clr-fondo;
  padding: 0px;
  margin: 0px;
  width: auto;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: $clr-oscuro;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: $clr-oscuro;
  font-size: 2rem;
  letter-spacing: 1px;
}

h3,
h4 {
  color: $clr-oscuro;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: $clr-oscuro;
}

.bordesRedondeados {
  border-radius: 20px;
}

.contactTitle {
  padding-top: 1px;
  height: 20vh;
}

.contactBox {
  font-size: 1em;
  height: 860px;
  background: url(./imagenes/tallado.jpg) no-repeat center / cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactTxt {
  background: white;
  width: 30vw;
  border-radius: 1em;
  border: 5px solid $clr-oscuro;
}

.contactTxt h2,
.contactTxt h4 {
  width: 100%;
  text-decoration: underline;
  background: $clr-oscuro;
  color: $clr-clrtext;
}

.contactTxt p {
  background: $clr-oscuro;
  color: $clr-clrtext;
}

.contactForm li {
  list-style: none;
  display: inline;
}

.contactForm input {
  font-size: 15px;
  margin: 5px;
}

.contactForm p {
  font-size: 20px;
}
