$clr-oscuro: #3f4b44;
$primary: #3f4b44;
$clr-clrtext: #cbb9b7;
$clr-fondo: #f1e7eb;
$clr-hover: #ce7d35;
$clr-fondo: #f7f7f9;

@import "header";
@import "footer";
@import "elements";
@import "variables2";
